/node_modules
/public/hot
/public/storage
/public/media/img
/storage/*.key
/storage/api-docs
/storage/media
/vendor
/gitflow
.idea*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/laradock*/
.env
